<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Image Search Abstraction Layer</title>
  
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
</head>

<body>
    <div class="container">
        <h1>Image Search Abstraction Layer</h1>
        <hr/>
        <ul>
            <li><strong>User Story:</strong> I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
            <li><strong>User Story:</strong> I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
            <li><strong>User Story:</strong> I can get a list of the most recently submitted search strings.</li>
        </ul>
        <hr/>
        <h3>Example:</h3>
        <code>https://img-search-thunghiem.herokuapp.com/puppy?offset=2</code> <br/>
        <code>https://img-search-thunghiem.herokuapp.com/latest</code>
        <br/>
    </div>
</body>
</html>